/* App-specific overrides */
.app-container {
    display: flex;
    min-height: 100vh;
}

.main-content-wrapper {
    flex: 1;
    min-height: 100vh;
}

@media (max-width: 48rem) {
    .app-container {
        display: block;
    }
    
    .main-content-wrapper {
        margin-left: 0;
    }
}